.site-header{
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.973);
  padding-top: 20px;
  padding-bottom: 25px;
}

.site-header__container{
  display: flex;
  align-items: center;
}

.site-header__toggler{
  width: 20px;
  height: 17px;
  background-color: #fff;
  border: none;
  background-image: url("../img/menu-burger.svg");
  background-size: 20px 17px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 28px;
  padding: 15px;
  cursor: pointer;
}

.site-header__form{
  position: relative;
  z-index: 1;
  margin-right: 13px;
}

.site-header__label{
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
  border-radius: 22px;
  padding-right: 17px;
}
.site-header__input{
  width: 774px;
  background-color: #EBEBEB;
  opacity: 0.3;
  border-radius: 22px;
  padding: 12px 17px 12px 23px;
  margin-right: auto;
  outline: none;
  border: none
}

.site-header__form-btn{
  position: absolute;
  z-index: 1;
  right: 13px;
  top: 13px;
  width: 20px;
  height: 20px;
  background-color: #EBEBEB;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px 19px;
  border: none;
  cursor: pointer;
}

.site-header__right-side-box{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-header__right-list{
  width: 175px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 45px;
}

.site-header__right-list-link{
  display: block;
}
.site-header__right-list-link img{
  display: block;
}

.site-header__right-list-link:hover .site-header__list-link-img{
  fill: rgb(252, 6, 6);
}

.site-header__user-img{
  display: block;
  border-radius: 50%;
}



@media only screen and (max-width: 1415px){

  .site-header__input{
    width: 630px;
  }
}

@media only screen and (max-width: 1270px){

  .site-header__input{
    width: 500px;
  }
}

@media only screen and (max-width: 1135px){

  .site-header__input{
    width: 350px;
  }
}

@media only screen and (max-width: 975px){

  .site-header__input{
    width: 250px;
  }
}

@media only screen and (max-width: 870px){

  .site-header__right-list{
    margin-right: 25px;
  }

  // .site-header__right-item--notific{
  //   display: none;
  // }
}

@media only screen and (max-width: 770px){

  .site-header__right-list{
    width: 140px;
  }
}

@media only screen and (max-width: 730px){

  .site-header__toggler{
    display: none;
  }
}

@media only screen and (max-width: 690px){

  .site-header__right-list{
    display: none;
  }
}

@media only screen and (max-width: 520px){

  .site-header__input{
    width: 170px;
  }
}

@media only screen and (max-width: 440px){

  .site-header__form{
    margin-left: auto;
    margin-right: 24px;
  }

  .site-header__label{
    background-color: transparent;
    padding-right: 0;
  }
  .site-header__form-btn{
    background-color: transparent;
    position: static;
  }

  .site-header__right-side-box{
    margin-left: 0;
  }

  .site-header__input{
    display: none;
  }

  .site-header__user-img{
    width: 30px;
    height: 30px;
  }
}